
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' , sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    min-height: 100vh;
    background:linear-gradient(180deg, #000000 0%,#9B48A7 100%);
    color: #ffffff;
    overflow-x: hidden;
    
}
.container{
    position: sticky;
    top: 0;
    padding: 10px 10%;
    z-index: 10000;
    /* backdrop-filter: invert(1); */
    
}
.container::after{
    content: '';
    background: linear-gradient(to top,#000000,transparent);

 
    
}
nav{
    
    display: flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
    z-index: 100;
    
}
.logo{
    width: 30px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #d301d6;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
section img{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:cover;
}
section::before{
    content: '';
    position: absolute;
    bottom: -50px;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top,#481c4f,transparent);
    z-index: 1000;
}

.mount{
    
    width: 100%;
    z-index: 2;
    overflow-x: hidden;
}
#planet{
    filter: drop-shadow(0px 0px 20px #ffffff);
    -webkit-filter: drop-shadow(0px 0px 20px #fcfcfc);
    z-index: -1;
    top: -60px;
    object-fit: contain;
}
#text{
    z-index: 4;
    position: absolute;
    color: white;
    white-space: nowrap;
    font-size: 5.5vw;
   
    z-index: 1;
    
    transform: translateY(-100px);
}
#btn{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: white;
    color: #000000;
    font-size: 1.5rem;
    z-index: 5000;
    

}
.sec{
    position: relative;
    padding: 100px;
    height: 100vw;
    background: #481c4f;
    z-index: -1;

}
.sec h2{
    font-size: 3.5rem;
    margin-bottom: 10px;
    color: #fff;
}


  .profile-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
    
    padding: 20px;
  }
  
  .profile-card {
    text-align: center;
    width: 300px;
    background: linear-gradient(180deg, #ffffff 0%, #737373 100%);
    
    padding: 20px;
    margin: 8px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(118, 0, 112, 0.667);
  }
  
  .profile-card img {
    width: 200px;
    height: 200px;
    border-radius: 16px;
    margin-bottom: 10px;
  }
  
  .profile-card h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
  }
  
  .profile-card p {
    margin: 0;
    color: #666;
    font-size: 14px;
  }
  .socials{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s ease-in-out;
  }
.socials img{
    width: 50px;
    height: 50px;
    padding: 5px;
    margin: 10px;
    transition: all .5s ease-in-out;
    
}
.footer-distributed{
	background: #444;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	font: bold 16px sans-serif;
	text-align: left;
	padding: 50px 60px 40px;
	overflow: hidden;
}

section {
  width: 100%;
  display: inline-block;
  background: #ccc;
  height: 60vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed .footer-left{
	float: left;
}

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Roboto', cursive;
	margin: 0 0 10px;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-icons{
	margin-top: 40px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

.footer-distributed .footer-right{
	float: right;
}

.footer-distributed .footer-right p{
	display: inline-block;
	vertical-align: top;
	margin: 15px 42px 0 0;
	color: #ffffff;
}

.footer-distributed form{
	display: inline-block;
}

.footer-distributed form input,
.footer-distributed form textarea{
	display: block;
	border-radius: 3px;
	box-sizing: border-box;
	background-color:  #1f2022;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
	border: none;
	resize: none;

	font: inherit;
	font-size: 14px;
	font-weight: normal;
	color:  #d1d2d2;

	width: 400px;
	padding: 18px;
}

.footer-distributed ::-webkit-input-placeholder {
	color:  #5c666b;
}

.footer-distributed ::-moz-placeholder {
	color:  #5c666b;
	opacity: 1;
}

.footer-distributed :-ms-input-placeholder{
	color:  #5c666b;
}


.footer-distributed form input{
	height: 55px;
	margin-bottom: 15px;
}

.footer-distributed form textarea{
	height: 100px;
	margin-bottom: 20px;
}

.footer-distributed form button{
	border-radius: 3px;
	background-color:  #33383b;
	color: #ffffff;
	border: 0;
	padding: 15px 50px;
	font-weight: bold;
	float: right;
}

@media (max-width: 1000px) {

	.footer-distributed {
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-company-name{
		font-size: 12px;
	}

	.footer-distributed form input,
	.footer-distributed form textarea{
		width: 250px;
	}

	.footer-distributed form button{
		padding: 10px 35px;
	}

}

@media (max-width: 800px) {

	.footer-distributed{
		padding: 30px;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		float: none;
		max-width: 300px;
		margin: 0 auto;
	}

	.footer-distributed .footer-left{
		margin-bottom: 40px;
	}

	.footer-distributed form{
		margin-top: 30px;
	}

	.footer-distributed form{
		display: block;
	}

	.footer-distributed form button{
		float: none;
	}
}




