
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' , sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    min-height: 100vh;
    background:linear-gradient(180deg, #000000 0%,#9B48A7 100%);
    color: #ffffff;
    overflow-x: hidden;
    
}
.container{
    padding: 10px 10%;
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 100;
    
}
.logo{
    width: 140px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #d301d6;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
nav .search_box{
    z-index: 3;
    display: flex;
    margin: auto 0;
    height: 35px;
    line-height: 35px;
    
}
nav .search_box input{
    border: none;
    border-radius: 20px 0px 0px 20px;
    outline: none;
    background: #fff;
    height: 100%;
    padding: 0 10px;
    font-size: 16px;
    width: 250px;
}
nav .search_box span{
    
    color: #000000;
    font-size: 18px;
    background: #fff;
    height: 100%;
    padding: 8px;
    position: relative;
    cursor: pointer;
    z-index: 3;
    border-radius: 0px 20px 20px 0px;
    
}
nav .search_box span::after{
    height: 100%;
    width: 100%;
    content: ' ';
    background: #d301d6;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0px 20px 20px 0px;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
section img{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:cover;
}
section::before{
    content: '';
    position: absolute;
    bottom: -50px;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top,#202020,transparent);
    z-index: 1000;
}

.mount{
    
    width: 100%;
    z-index: 2;
}
#planet{
    filter: drop-shadow(0px 0px 20px #ffffff);
    -webkit-filter: drop-shadow(0px 0px 20px #fcfcfc);
    z-index: -1;
    top: -60px;
    object-fit: contain;
}
#text{
    z-index: 4;
    position: absolute;
    color: white;
    white-space: nowrap;
    font-size: 5.5vw;
   
    z-index: 1;
    
    transform: translateY(-100px);
}
#btn{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: white;
    color: #000000;
    font-size: 1.5rem;
    z-index: 5000;
    

}
.sec{
    position: relative;
    padding: 100px;
    height: 100vw;
    background: #202020;

}
.sec h2{
    font-size: 3.5rem;
    margin-bottom: 10px;
    color: #fff;
}


  .profile-cards {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .profile-card {
    text-align: center;
    width: 200px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .profile-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .profile-card h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
  }
  
  .profile-card p {
    margin: 0;
    color: #666;
    font-size: 14px;
  }



